.job-list-item {
  &__container {
    margin-bottom: 1.5rem;
  }
  &__time-contract-container {
    display: flex;
  }
  &__logo-container {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
}
